<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">
  <gx-header></gx-header>

    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
       <gx-home></gx-home>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2018-2018 <a href="#">GuidoseXchange</a>.</strong> Todos os direitos reservados.
      </div>
      <!-- /.container -->
    </footer>
  </div>
  </body>