<section class="content-header">
        <h1>
          Lista de jogos
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Página pricipal</a></li>
          <li><a href="#">Lista de jogos</a></li>
        </ol>
      </section>
      <section class="content">
            <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Jogos</h3>
        
                      <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar usuário">
        
                          <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Plataforma</th>
                                <th>Disponível p/ Troca</th>
                            </tr>
                            <tr class="" *ngFor="let game of games">
                                <td *ngFor="let col of columns">
                                    {{game[col]}}
                                </td>
                            </tr>
                        </table>                    
                    </div>
                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </section>