<section class="content-header">
        <h1>
          Lista de jogos
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Página pricipal</a></li>
          <li><a href="#">Lista de jogos</a></li>
        </ol>
      </section>
      <section class="content">
            <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Interessados</h3>
        
                      <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar usuário">
        
                          <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                    <thead>
                                    <tr>
                                      <th>Qty</th>
                                      <th>Product</th>
                                      <th>Serial #</th>
                                      <th>Description</th>
                                      <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>Call of Duty</td>
                                      <td>455-981-221</td>
                                      <td>El snort testosterone trophy driving gloves handsome</td>
                                      <td>$64.50</td>
                                    </tr>
                                    <tr>
                                      <td>1</td>
                                      <td>Need for Speed IV</td>
                                      <td>247-925-726</td>
                                      <td>Wes Anderson umami biodiesel</td>
                                      <td>$50.00</td>
                                    </tr>
                                    <tr>
                                      <td>1</td>
                                      <td>Monsters DVD</td>
                                      <td>735-845-642</td>
                                      <td>Terry Richardson helvetica tousled street art master</td>
                                      <td>$10.70</td>
                                    </tr>
                                    <tr>
                                      <td>1</td>
                                      <td>Grown Ups Blue Ray</td>
                                      <td>422-568-642</td>
                                      <td>Tousled lomo letterpress</td>
                                      <td>$25.99</td>
                                    </tr>
                                    </tbody>
                                  </table>
                      
                    </div>
                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </section>